[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 120

[tool.pytest.ini_options]
testpaths = ["tests"]
norecursedirs = "tests/testutils"

[tool.pyright]
typeCheckingMode = "basic"

[tool.poetry]
name = "sil-machine"
version = "0.9.3"
description = "A natural language processing library that is focused on providing tools for resource-poor languages."
license = "MIT"
authors = ["SIL International"]
maintainers = ["Damien Daspit <damien_daspit@sil.org>"]
readme = "README.md"
repository = "https://github.com/sillsdev/machine.py"
keywords = ["machine", "translation", "natural", "language", "processing"]
classifiers = [
  "Topic :: Scientific/Engineering",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Scientific/Engineering :: Mathematics",
  "Topic :: Software Development",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Text Processing",
  "Topic :: Text Processing :: Linguistic"
]
packages = [
  { include = "machine" }
]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
regex = "^2021.7.6"
numpy = "^1.19.0"
sortedcontainers = "^2.4.0"
networkx = "^2.6.3"
sentencepiece = "^0.1.95"
libclang = "^11.1.0"
tensorflow = "^2.8.0"
OpenNMT-tf = "^2.25.0"
clearml = {extras = ["s3"], version = "^1.6.4"}
json-stream = "^1.3.0"
dynaconf = "^3.1.9"
typing-extensions = {version = ">=3.7.4", python = "~3.7"}
charset-normalizer = "^2.1.1"
sil-thot = "^3.4.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
black = "^21.7b0"
flake8 = "^3.9.2"
isort = "^5.9.3"
pytest-mockito = "^0.0.4"
ipykernel = "^6.7.0"
pandas = "^1.3.0"
datasets = "^2.4.0"

[tool.poetry.extras]
sentencepiece = ["sentencepiece"]
thot = ["sil-thot"]
tensorflow = ["libclang", "tensorflow", "OpenNMT-tf"]
webapi = ["clearml", "json-stream", "dynaconf", "typing-extensions", "libclang", "tensorflow", "OpenNMT-tf", "sentencepiece"]
all = ["sentencepiece", "sil-thot", "libclang", "tensorflow", "OpenNMT-tf", "clearml", "json-stream", "dynaconf", "typing-extensions"]

[tool.poetry.group.dev.dependencies]
jupyter = "^1.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
