name: CI build

on:
  push:
    branches:
      - "**"
    tags:
      - "v*"

jobs:
  build:
    name: Build on ${{ matrix.os }} using Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Install machine
        run: poetry install --no-interaction
      - name: Lint with Black
        run: poetry run black . --check --diff
      - name: Lint with Flake8
        run: poetry run flake8 . --statistics --show-source
      - name: Lint with isort
        run: poetry run isort . --check-only
      - name: Setup Node for pyright
        uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Lint with pyright
        run: |
          npm install -g pyright@1.1.400
          poetry run pyright
      - name: Test with pytest
        run: poetry run pytest --cov --cov-report=xml
        env:
          EFLOMAL_PATH: /home/runner/work/machine.py/machine.py/.venv/lib/python${{ matrix.python-version }}/site-packages/eflomal/bin
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish:
    name: Create Wheel
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.10
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Build
        run: poetry build
      - name: Upload package
        uses: actions/upload-artifact@v5
        with:
          name: wheel
          path: dist/*.whl
      - name: Publish
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
          poetry publish
